@page "/flags"
<h3>Flags</h3>



@if (imageSource is not null)
{
    <p>
        <img style="width: 300px; height:180px; margin: 0 auto; display:block" src="@imageSource" />
    </p>

}

<input id="countryInput" @bind="ValidateCountry" @bind:event="oninput"  placeholder="Type Bordering Countrys here"/>

<button @onclick="NewFlag">New Country</button>
<button @onclick="ShowSolution">Show Solution</button>

<h3 id="Solution">@SolutionText</h3>


@code {
    private string? imageSource;
    private string? solution;
    private string? userInputString;
    RenderFragment? SolutionText;
    Random rnd = new Random();


    protected override async Task OnInitializedAsync()
    {
        NewFlag();
    }

    private string ValidateCountry
    {
        get { return userInputString; }
        set
        {
            userInputString = value;
            CheckIfGuessed();
        }
    }

    private void CheckIfGuessed()
    {
        if (userInputString?.IndexOf(solution, StringComparison.OrdinalIgnoreCase) != -1)
        {
            userInputString = String.Empty;
            NewFlag();
        }


    }

    private void NewFlag()
    {
        userInputString = String.Empty;
        SolutionText = null;
        int number = rnd.Next(AllFlagsGerman.Count);
        imageSource = $"css/Flags/{AllFlagsGerman[number]}.png";
        solution = AllFlagsGerman[number];
    }

    private void ShowSolution()
    {
        SolutionText = null;
        SolutionText += 
    @<span>@solution</span>;
    }

    private List<string> AllFlagsGerman = new List<string>()
    {
        "Deutschland", "Norwegen", "Schweden", "Finnland", "Vereinigtes Königreich", "Albanien", "Andorra", "Belarus", "Belgien", "Bosnien und Herzegowina",
        "Bulgarien", "Dänemark", "Estland", "Frankreich", "Griechenland", "Irland", "Italien", "Kosovo", "Kroatien", "Lettland", "Liechtenstein", "Litauen",
        "Luxemburg", "Moldawien", "Monaco", "Montenegro", "Niederlande", "Nordmazedonien", "Österreich", "Polen", "Portugal", "Rumänien", "Russland",
        "San Marino", "Schweiz", "Serbien", "Slowakei", "Slowenien", "Spanien", "Tschechien", "Türkei", "Ukraine", "Ungarn", "Vatikanstadt"
    };

}
